<form method="GET" action="/news">
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="text" name = "q" class="form-control" id="exampleInputPassword1" placeholder="some text">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>